div#guy {
    position:absolute;
    width:1em;
    height:1em;
    //background:#00f;
    bottom:150px;
    left:100px;
    background: url('/images/player3.png');
}

#eye {
    background: url('/images/eye.png');;
}

div#goal {
    position:absolute;
    width:2em;
    height:2em;
    background:#f2ff00;
    background:     linear-gradient(
      rgba(235, 255, 0, 0.7),
      rgba(235, 255, 0, 0.7)
    ),url('/images/pixeltexture.png') repeat;
}
