
*, html, body {
    background:#fff;
    padding:0;
    margin:0;
}

.game-window{
    width: 70%;
    float: left;
    background-color: #f5deb3;
    min-height: 100px;
}

.commad-window{
    width: 30%;
    float: left;
    background-color: aliceblue;
    min-height: 500px;
}

.command-hint{
    width: 100%;
    background-color: lightgray;
    height: 40%;
}

.command-box{
    width: 100%;
    background-color: antiquewhite;
    height: 40%;
}

.game-screen{
    width: 100%;
    margin: auto;
}