*, html, body {
   background:rgb(136, 230, 255);
    padding:0;
    margin:0;
}

.deathfield {
    position:absolute;
    width:100%;
    height:1em;
    background:#ff0000;
    bottom:-2em;
}

.obstacle {
    position: absolute;
    background:#0f0;
}

.game-window{
    width: 70%;
    float: left;
    background-color: #f5deb3;
    min-height: 100px;
}

.command-window{
    width: 30%;
    float: left;
    background-color: aliceblue;
    min-height: 500px;
}

.command-hint{
    width: 100%;
    background-color: lightgray;
    height: 40%;
}

.command-box{
    width: 100%;
    background-color: antiquewhite;
    height: 40%;
}

.game-screen{
    width: 100%;
    margin: auto;
}

.wall {
    background:     linear-gradient(
        rgba(215, 102, 54, 0.5),
        rgba(215, 102, 54, 0.5)
    ),url('/images/pixeltexture.png') repeat;
}
.wallright {
    color:black;
    width:10px;
    height:100%;
    float:right;
    right:0;
    box-shadow: 6px 6px 2px #888888;
}
.wallleft {
    color:black;
    width:10px;
    height:100%;
    float:left;
    box-shadow: 6px 6px 2px #888888;
}

.platform {
    box-shadow: 6px 6px 2px #888888;
    background:     linear-gradient(
      rgba(13, 255, 0, 0.5),
      rgba(13, 255, 0, 0.5)
    ),url('/images/pixeltexture.png') repeat;
}